header {
  margin-bottom: 64px;
}

h1 {
  font-size: 48px;
  color: #f6f6f6;
  margin: 12px 0;
}

#description {
  margin: 8px;
  color: #8b8b8b;
}

a:not(.logo) {
  padding: 10px 14px;
  color: white;
  background-color: #fc4393;
  border-radius: 4px;
  font-size: 16px;
  display: inline-block;
  margin: 12px;
}

a:not(.logo):hover {
  background-color: #ff60a5;
  text-decoration: none;
}

ol {
  list-style: none;
  width: 24rem;
  margin: 36px auto 0 auto;
  padding: 0;
  text-align: start;
}

li {
  padding: 16px;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  margin: 10px;
  background-color: #72cde8;
  border-radius: 6px;
  width: 21rem;
}

h2 {
  color: #484444;
  font-family: "Oswald", sans-serif;
  margin-top: 0;
  margin-bottom: 0.75rem;
  font-size: 1.35rem;
}

main p {
  margin: 0;
  color: rgb(71, 29, 22);
  font-size: 1.15rem;
}

.highlight-goal {
  background-color: #adecff;
}

.links {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
