body {
  background-color: #262424;
  text-align: center;
  color: #6c7679;
}

h1 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
}

a:not(.logo) {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  color: #ff60a5;
}

a:hover {
  text-decoration: underline;
}

.logo:hover {
  text-decoration: none;
}

.logo {
  display: flex;
  width: fit-content;
}

::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
