body {
  background-color: #262424;
  text-align: center;
  color: #6c7679;
}

h1 {
  font-family: "Oswald", sans-serif;
}

p {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
}

a:not(.logo) {
  font-family: "Fira Sans", sans-serif;
  text-decoration: none;
  color: #ff60a5;
}

a:hover {
  text-decoration: underline;
}

.logo:hover {
  text-decoration: none;
}

.logo {
  text-decoration: none;
  width: 10rem;
  display: flex;
  text-decoration: none;
  padding: 1rem 0 0 1rem;
}

.logo > img {
  height: 35px;
}

.logo-txt {
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  color: #eee;
  align-items: flex-start;
}

.logo-img {
  width: 2rem;
  margin-right: 3px;
}

.logo-txt h1,
.logo-txt span {
  margin: 0;
  padding: 0;
  line-height: 1;
  letter-spacing: 4px;
}

.logo-txt h1 {
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 2px;
  color: #eee;
}

.logo-txt span {
  font-weight: lighter;
  font-size: 0.85rem;
}

::-webkit-scrollbar {
  height: 9px;
  width: 9px;
}

::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  width: 9px;
}

::-webkit-scrollbar-track {
  background: transparent;
  width: 9px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}
